@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
}
.container{
    @apply w-[90%] mx-auto
}

